name: MyWorkflow

on:
  
  workflow_dispatch:
  push:
    branches: [ "master" ]
  # pull_request:
  #   branches: [ "main" ]
  
jobs:
  
  print_Message_on_ubuntu:
  
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7.7'
      - name: Run a one-line script
        run: |
          cd sc
          python main_script/run.py

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

  print_Message_with_windows:
  
    runs-on: windows-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7.7'
      env:
      Greeting: Hello
      
      - name: Run a one-line script
        run: write-output $Greeting

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          cd scripts
          python main.py